<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <center><div class="task-detail">
        <h1><%= task.title %></h1>
        <p><%= task.description %></p>
    </div>
    <a href="/tasks"><button>Back to Task List</button></a></center>
</body>
</html>
